[Unit]
Description=IVL Github Actions
After=syslog.target

[Service]
User=usupp
ExecStart=/usr/bin/java -jar /appcfg/jar/ivl-github-actions.jar --server.port=80
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure # always
RestartSec=30

[Install]
WantedBy=multi-user.target